

main table {
    border: 3px solid black;
    width: 100vh;
    height: 50vh;
    text-align: center;
    margin-left: 50vh;
    margin-bottom: 5vh;
}

main h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5vh;
}

main table tbody tr td {
    border: solid 1px black;
}